[run]
omit =
#    */_proxy_chain_*.py
#    python_socks/async_/asyncio/ext/*
    python_socks/_basic_auth.py
[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    raise ValueError
